apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ secret_namespace }}
data:
  aws_access_key_id: {{ govcloud_aws_access_key_id | b64encode }}
  aws_secret_access_key: {{ govcloud_aws_secret_access_key | b64encode }}
